{% extends "auctions/layout.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block body %}

<div class="page-body">
<div class="container-xl">

    <div class=" row-cards">
        <h4>Create New Listing</h4>
<p>{{m}}</p>
        <div class="card bg-form">
        <div class="card-body">
   <form action="{% url 'add-listing' %}" method="post">
                {% csrf_token %}
<!--                {{ creatForm|crispy }}-->
    <div calss="row">
                <div calss="col-6">
                    {{creatForm.title |as_crispy_field}}
                </div>
                  <div calss="col-6">
                    {{creatForm.description |as_crispy_field}}
                </div>
            </div>


            <div calss="row">
                   <div calss="col-6">
                    {{creatForm.imgurl |as_crispy_field}}
                </div>

            </div>



           <div calss="row">
                   <div calss="col-6">
                    {{creatForm.date |as_crispy_field}}
                </div>
                   <div calss="col-6">
                    {{creatForm.price |as_crispy_field}}
                </div>
            </div>





           <div calss="row">
                   <div calss="col-6" >
                </div>
                   <div calss="col-6">
                    {{creatForm.catogery |as_crispy_field}}
                </div>
            </div>



<div class="row">
    <div class="col-12 text-center">
          <button class="btn btn-primary  px-4" type="submit"> Create Listing</button>
    </div>
</div>









   </form>
   </div>
 </div>

    </div>
</div>
</div>
{% endblock %}